[submodule "mods/han_china"]
	path = mods/han_china
	url = https://github.com/0ADMods/han_china
[submodule "mods/aristeia"]
	path = mods/aristeia
	url = https://github.com/0ADMods/aristeia
[submodule "mods/millenniumad"]
	path = mods/millenniumad
	url = https://github.com/0ADMods/millenniumad
[submodule "mods/ponies_ascendant"]
	path = mods/ponies_ascendant
	url = https://github.com/0ADMods/ponies_ascendant
[submodule "mods/convert_attack"]
	path = mods/convert_attack
	url = https://github.com/0ADMods/convert_attack
[submodule "mods/0ad_ancient_empires"]
	path = mods/0ad_ancient_empires
	url = https://github.com/prod0ad/0ad_ancient_empires.git
[submodule "mods/amazones-0ad"]
	path = mods/amazones-0ad
	url = https://github.com/dvangennip/amazones-0ad.git
[submodule "mods/delenda_est"]
	path = mods/delenda_est
	url = https://github.com/JustusAvramenko/delenda_est.git
